:root {
  --bg-color: rgb(20,20,20);
  clear: both;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 24px;
}

.main-container {
  position: relative;
  height: 100px;
}

.head {
  font-weight: 400;
}

.sub-head {
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
}

.API-call {
  height: 100px;
  background-color: purple;
}